<div class="field-row">
    <div class="col-12">
        <div class="page-title-box">
            <app-navigator-upper></app-navigator-upper>
            <h4 class="page-title">Add Diractorate </h4>

            <div class="card">
                <div class="card-body">
                    <div class="continer mb-4">
                        <div class="row mt-4">
                            <form (ngSubmit)="submitDirectorate()" [formGroup]="submitDirectorForm">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="continer mb-3 col-sm-12">

                                            <div class="form-group">
                                                <label for="floatingInput" class="form-label">Name of Directorate:</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp" name="name"
                                                    placeholder="Enter name of directorate." autocomplete="off"
                                                    formControlName="name" />
                                            </div>
                                            <!-- <div class="invalid-feedback"
                                                *ngIf="submitDirectorForm.controls['name'].touched && submitDirectorForm.controls['name'].errors?.['pattern']">
                                                Please enter valid name.
                                            </div> -->

                                            <div class="valid-feedback"
                                                *ngIf=" submitDirectorForm.controls['name'].touched && submitDirectorForm.controls['name'].valid">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback"
                                                *ngIf="submitted  && submitDirectorForm.controls['name'].errors?.['required']">
                                                Please enter directorate.
                                            </div>
                                            <div class="invalid-feedback"
                                                *ngIf="  submitDirectorForm.controls['name'].touched && submitDirectorForm.controls['name'].errors?.['minlength']">
                                                At least 2 Characters.
                                            </div>
                                            <div class="invalid-feedback"
                                                *ngIf="  submitDirectorForm.controls['name'].touched && submitDirectorForm.controls['name'].errors?.['maxlength']">
                                                At most 500 Characters.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="w-100"> </div>


                                    <label for="floatingInput" class="form-label">Description of directiorate:</label>
                                    <div class="continer mb-4">
                                        <div class="form-group mt-10">
                                            <quill-editor [placeholder]="'Enter description of directorate.'"
                                                formControlName="description" style="width:100%"></quill-editor>

                                        </div>

                                        <div class="invalid-feedback"
                                            *ngIf=" submitted  && submitDirectorForm.controls['description'].errors?.['required']">
                                            Please enter description of directiorate.
                                        </div>
                                        <div class="valid-feedback"
                                            *ngIf=" submitDirectorForm.controls['description'].touched && submitDirectorForm.controls['description'].valid">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback"
                                            *ngIf="  submitDirectorForm.controls['description'].touched && submitDirectorForm.controls['description'].errors?.['minlength']">
                                            At least 5 Characters.
                                        </div>
                                        <div class="invalid-feedback"
                                            *ngIf="  submitDirectorForm.controls['description'].touched && submitDirectorForm.controls['description'].errors?.['maxlength']">
                                            At most 1000 Characters.
                                        </div>

                                    </div>

                                </div>
                                <div class="col-md-12  text-center">
                                    <button *ngIf="directorate_id == null" class="btn btn-primary" type="submit">
                                        Register
                                    </button>
                                    <button *ngIf="directorate_id != null" class="btn btn-primary" type="submit">
                                        Update
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <swal
      #SuccessSwalRegisterUser
      title="Success"
      text="User registered successfully!"
      icon="success"
      [showCancelButton]="false"
      [showConfirmButton]="false"
      [timer]="2500"
      [focusCancel]="true"
    ></swal> -->

    <swal #SwalSessionExpired title="Warning" text="Your session has expired! please login to continue." icon="warning"
        [showCancelButton]="false" [showConfirmButton]="false" [timer]="3500" [focusCancel]="true">
    </swal>


    <!-- </div> -->
    <!-- </div> -->
