.dashboard-number-text {
  font-size: 12px !important;
  font-weight: 600;
}

.circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  background-color: #008F7A; /* You can adjust this color as needed */
  margin: 0 5px; /* Adjust margin as needed */
}
